{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Manganga Website</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:401,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "css/custom.css" %}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
	   <div class="header">
	      <h2 class="title">Simple clean website for manga reader</h2>
	<nav class="navbar">
      		<div class="container">
        		<ul class="navbar-list">
          		<li class="navbar-item"><a class="navbar-link" href="#">Home</a></li>
          		<li class="navbar-item"><a class="navbar-link" href="/mangareader">Read Mangga</a></li>
          		<li class="navbar-item"><a class="navbar-link" href="#">Mangga Update</a></li>
          		<li class="navbar-item"><a class="navbar-link" href="#">Technology behind it</a></li>
        		</ul>
      		</div>
    	</nav>
	</div>

	<div class="row">
		        {% block content %}
		        {% endblock content %}
  </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
